<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.5.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-icons.1.13.1.min.css">
    <!-- Estilo personalizado -->
    <link href="/styles/general.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/general.js"></script>
  </head>
  <body>
    
  </body>
</html>