<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.5.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-icons.1.13.1.min.css">
    <!-- Estilo personalizado -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/general.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div id="menu-container" class="col-sm-auto bg-dark sticky-top"></div>
        <!-- Main content -->
        <main class="col ms-sm-auto mt-3">
          https://docs.google.com/forms/d/e/1FAIpQLSc6skRqxQSNHdghHfAuinUGmAG6YlYaQ2PyjMjMHSFtcLf3xQ/viewform?usp=header
        </main>
      </div>
    </div>
    <!-- Scripts -->
    <script src="/scripts/bootstrap.bundle.5.3.6.min.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/"></script>
  </body>
</html>