<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.5.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-icons.1.13.1.min.css">
    <!-- Estilo personalizado -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/terms&conditions.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Main content -->
        <main class="col ms-sm-auto my-3">
          <div class="mb-3 text-end">
            <select id="languageSwitcher" class="form-select form-select-sm w-auto d-inline">
              <option value="es">Español</option>
              <option value="en">English</option>
            </select>
          </div>
          <h1><i class="bi bi-files"></i> Términos y Condiciones del Servicio</h1>
          <div class="card mb-4">
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <h5 class="card-title">
                <i class="bi bi-file-earmark-text"></i> Términos
              </h5>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. 
              Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
              Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              </p>
              <hr>
              <h5 class="card-title mt-4">
                <i class="bi bi-shield-check"></i> Condiciones
              </h5>
              <p>
              (Agrega aquí las condiciones completas del servicio.)
              </p>
            </div>
          </div>
          <form>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="acceptTerms" required>
              <label class="form-check-label" for="acceptTerms">
                Acepto los términos y condiciones del servicio
              </label>
            </div>
            <button id="termsForm" type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </main>
      </div>
    </div>
    <!-- Scripts -->
    <script src="/scripts/bootstrap.bundle.5.3.6.min.js"></script>
  </body>
</html>