<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.5.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-icons.1.13.1.min.css">
    <!-- Estilo personalizado -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/general.js"></script>
    <script src="/scripts/popup.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Main content -->
        <main class="col ms-sm-auto my-3">
          <h1 id="title_tnc"><i class="bi bi-files"></i> </h1>
          <div class="card-body" style="max-height: 300px; overflow-y: auto;">
            <p id="description_tnc"></p>
            <hr>
            <div id="terms_content"></div>
          </div>
          <form>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="accept_terms" required>
              <label id="cb_accept_terms" class="form-check-label" for="accept_terms"></label>
            </div>
            <button id="terms_form" type="submit" class="btn btn-primary"></button>
          </form>
        </main>
      </div>
    </div>
    <!-- Scripts -->
    <script src="/scripts/bootstrap.bundle.5.3.6.min.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/terms&conditions.js"></script>
  </body>
</html>