<div class="d-flex flex-sm-column align-items-center align-items-sm-start flex-row flex-nowrap sticky-top min-vh-100">
  <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
    <li>
      <a href="img2pdf.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Image to PDF">
        <i class="bi bi-filetype-pdf fs-1"></i>
      </a>
    </li>
    <li>
      <a href="utr.html" class="nav-link py-3 px-2" title="UTR" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-person-vcard fs-1"></i>
        <span class="position-absolute pt-4 pe-4 start-100 translate-middle badge small-badge">MX</span>
      </a>
    </li>
    <li>
      <a href="qr.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="UTR">
        <i class="bi bi-qr-code fs-1"></i>
      </a>
    </li>
    <li>
      <a href="pc.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Postal Code">
        <i class="bi bi-mailbox fs-1"></i>
      </a>
    </li>
    <li>
      <a href="watermark.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Watermark">
        <i class="bi bi-file-earmark-richtext fs-1"></i>
      </a>
    </li>
    <li>
      <a href="donate.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Donate">
        <i class="bi bi-cup-hot fs-1"></i>
      </a>
    </li>
  </ul>
</div>