<div class="d-flex flex-sm-column align-items-center align-items-sm-start flex-row flex-nowrap sticky-top min-vh-100">
  <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mx-auto text-center align-items-center">
    <li>
      <a href="img2pdf.html" class="nav-link py-3 px-2" title="Image to PDF" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Image to PDF">
        <div id="img2pdf_ico"></div>
      </a>
    </li>
    <li>
      <a href="utr.html" class="nav-link py-3 px-2" title="UTR" data-bs-toggle="tooltip" data-bs-placement="right">
        <div id="utr_ico"></div>
      </a>
    </li>
    <li>
      <a href="qr.html" class="nav-link py-3 px-2" title="QR" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="UTR">
        <div id="qr_ico"></div>
      </a>
    </li>
    <li>
      <a href="pc.html" class="nav-link py-3 px-2" title="Postal Code" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Postal Code">
        <div id="pc_ico"></div>
      </a>
    </li>
    <li>
      <a href="watermark.html" class="nav-link py-3 px-2" title="Watermark" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Watermark">
        <div id="watermark_ico"></div>
      </a>
    </li>
    <li>
      <a href="comments.html" class="nav-link py-3 px-2" title="Comments" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Donate">
        <div id="comments_ico"></div>
      </a>
    </li>
    <li>
      <a href="donate.html" class="nav-link py-3 px-2" title="Donate" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Donate">
        <div id="donate_ico"></div>
      </a>
    </li>
  </ul>
</div>