<div class="d-flex flex-sm-column align-items-center align-items-sm-start flex-row flex-nowrap sticky-top min-vh-100">
  <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
    <li class="nav-item">
      <a href="index.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <i class="bi bi-filetype-pdf fs-1"></i>
      </a>
    </li>
    <li>
      <a href="utr.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
        <i class="bi bi-qr-code fs-1"></i>
      </a>
    </li>
    <li>
      <a href="pc.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
        <i class="bi bi-mailbox fs-1"></i>
      </a>
    </li>
    <li>
      <a href="watermark.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
        <i class="bi bi-file-earmark-richtext fs-1"></i>
      </a>
    </li>
    <li>
      <a href="donate.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
        <i class="bi bi-cup-hot fs-1"></i>
      </a>
    </li>
  </ul>
</div>