<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.5.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-icons.1.13.1.min.css">
    <!-- Estilo personalizado -->
    <link href="/styles/general.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/general.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div id="menu-container" class="col-sm-auto sticky-top"></div>
        <!-- Main content -->
        <main class="col ms-sm-auto mt-3">
          <h1 id="title_pc" class="card-title mb-4"></h1>
          <div id="resultado" class="m-3"></div>
          <form class="row g-3">
            <div class="col-md-3">
              <label id="country_pc" for="cntry_pc" class="form-label"></label>
              <select class="form-select" id="cntry_pc">
                <option value=""></option>
              </select>
            </div>
            <div class="col-md-3">
              <label id="state_pc" for="st_pc" class="form-label"></label>
              <select class="form-select" id="st_pc">
                <option value=""></option>
              </select>
            </div>
            <hr>
            <div class="col-md-3">
              <label id="city_pc" for="cty_pc" class="form-label"></label>
              <input type="text" class="form-control" id="cty_pc" placeholder="" />
            </div>
            <div class="col-md-3">
              <label id="colony_pc" for="colony_pc" class="form-label"></label>
              <input type="text" class="form-control" id="col_pc" placeholder="" />
            </div>
            <div class="col-md-3">
              <select class="form-select" id="cp" hidden></select>
            </div>
            <br>
            <div id="or_pc"></div>
            <br>
            <div class="col-md-3">
              <label id="municipality_pc" for="mun_pc" class="form-label"></label>
              <select class="form-select" id="mun_pc"></select>
            </div>
            <div class="col-auto align-self-end">
              <button id="search_btn_pc" type="button" class="btn btn-primary mb-3"></button>
            </div>
          </form>
        </main>
      </div>
    </div>
    <!-- Scripts -->
    <script src="/scripts/pc.js"></script>
  </body>
</html>
