<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.5.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-icons.1.13.1.min.css">
    <!-- Estilo personalizado -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/general.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div id="menu-container" class="col-sm-auto bg-dark sticky-top"></div>
        <!-- Main content -->
        <main class="col ms-sm-auto mt-3">
          <h1 id="title_utr"></h1>
          <div id="description_utr" class="col-12 my-3"></div>
          <form id="rfc_form" class="needs-validation" autocomplete="off" novalidate>
            <div class="row mb-3">
              <div class="col-md-4 mb-3">
                <label id="label_nombre" for="nombre" class="form-label"></label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="" required>
                <div class="invalid-feedback" id="error_nombre"></div>
              </div>
              <div class="col-md-4 mb-3">
                <label id="label_ap_paterno" for="ap_paterno" class="form-label"></label>
                <input type="text" class="form-control" name="ap_paterno" id="ap_paterno" placeholder="" required>
                <div class="invalid-feedback" id="error_ap_paterno"></div>
              </div>
              <div class="col-md-4 mb-3">
                <label id="label_ap_materno" for="ap_materno" class="form-label"></label>
                <input type="text" class="form-control" name="ap_materno" id="ap_materno" placeholder="" required>
                <div class="invalid-feedback" id="error_ap_materno"></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4 mb-3">
                <label id="label_dia" for="dddays" class="form-label"></label>
                <select class="form-select" name="dddays" id="dddays" required>
                  <option value=""></option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
                <div class="invalid-feedback" id="error_dia"></div>
              </div>
              <div class="col-md-4 mb-3">
                <label id="label_mes" for="ddmonths" class="form-label"></label>
                <select class="form-select" name="ddmonths" id="ddmonths" required>
                  <option value=""></option>
                </select>
                <div class="invalid-feedback" id="error_mes"></div>
              </div>
              <div class="col-md-4 mb-3">
                <label id="label_ano" for="ddyears" class="form-label"></label>
                <select class="form-select" name="ddyears" id="ddyears" required>
                  <option value=""></option>
                </select>
                <div class="invalid-feedback" id="error_ano"></div>
              </div>
            </div>
            <div class="text-center">
              <button id="btn_calcular" name="rfc_submitted" value="rfc_submitted" class="btn btn-primary" type="submit"></button>
            </div>
          </form>
          <br>
          <div id="result_rfc" style="display: block; opacity: 1;"><div style="display:flex;justify-content:center">
            <table class="ui striped table">
              <thead class="center aligned">
                <tr><th colspan="3" id="th_resultados"></th></tr>
              </thead>
              <tbody>
                <tr>
                  <td width="35%"><strong id="td_nombre_label"></strong></td>
                  <td id="name_rfc"></td>
                </tr>
                <tr>
                  <td><strong id="td_dob_label"></strong></td>
                  <td id="dob_rfc"></td>
                </tr>
                <tr>
                  <td><strong id="td_rfc_label"></strong></td>
                  <td style="display:flex;align-items:center">
                    <span id="rfc_result"></span>&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
    <!-- Scripts -->
    <script src="/scripts/bootstrap.bundle.5.3.6.min.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/utr-generator.js"></script>
  </body>
</html>