<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.5.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-icons.1.13.1.min.css">
    <!-- Estilo personalizado -->
    <link href="/styles/general.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/general.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div id="menu-container" class="col-sm-auto bg-dark sticky-top"></div>
        <!-- Main content -->
        <main class="col ms-sm-auto mt-3">
          <h2 id="title_wmk" class="card-title mb-4"></h2>
          <div class="mb-3">
            <label id="description_wmk" for="pdfInput" class="form-label"></label>
            <input type="file" class="form-control" id="pdfInput" accept="application/pdf" />
          </div>
          <div class="mb-3">
            <label id="txt_wmk" for="watermarkText" class="form-label"></label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-droplet"></i></span>
              <input type="text" class="form-control" id="watermarkText">
            </div>
          </div>
          <button id="btn_cnv_wmk" class="btn btn-primary mb-3"></button>
          <br>
          <a id="btn_dl_wmk" class="btn btn-success" style="display:none;" download="pdf_marca_agua.pdf"></a>
        </main>
    </div>
  </div>
  <!-- Scripts -->
  <script src="/scripts/watermark.js"></script>
  </body>
</html>